extends layout

block content
  h1= title
  p Welcome to #{title}
  div#chatview
  form(onsubmit="return false;")
    input#chatmsg
    button(onclick = "sendMessage()") Send
    br
    a(href="/lab") lab
