
<div class="table-title">
    <h3>강의 목록</h3>
</div>

<div id="lecture_list">
    <div class="search">
        <div class="dropdown" id="findDepartment">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                개설학과
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a>np</li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findMajor">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                개설전공
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findCategory">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                교과구분 (과목분류)
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findFirstDay">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                첫 수업 요일
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findFirstTime">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                첫 수업 시간
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findSecondDay">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                끝 수업 요일
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu6">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findSecondTime">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                끝 수업 시간
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu7">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="searchByTitle">
            <input class="form-control" [(ngModel)]="filterQuery"/>
        </div>
    </div>
    <class-list></class-list>
</div>