<div class="plans">
    <ul class="pagination">
        <li><a href="#">Plan A</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan B</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan C</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan D</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan E</a></li>
    </ul>
</div>

<div class="time_table_time">
    <table id="plan_1">
        <thead>
        <tr>
            <th colspan="4">시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2" class="time_table_time_alphabet">Z</td>
            <td rowspan="2" class="time_table_time_hour">0교시</td>
            <td rowspan="2" class="time_table_time_hour">8시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">A</td>
            <td rowspan="2" class="time_table_time_hour">1교시</td>
            <td rowspan="2" class="time_table_time_hour">9시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">2교시</td>
            <td rowspan="2" class="time_table_time_hour">10시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">B</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">3교시</td>
            <td rowspan="2" class="time_table_time_hour">11시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">C</td>
            <td rowspan="2" class="time_table_time_hour">4교시</td>
            <td rowspan="2" class="time_table_time_hour">12시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">5교시</td>
            <td rowspan="2" class="time_table_time_hour">13시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">D</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">6교시</td>
            <td rowspan="2" class="time_table_time_hour">14시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">E</td>
            <td rowspan="2" class="time_table_time_hour">7교시</td>
            <td rowspan="2" class="time_table_time_hour">15시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">8교시</td>
            <td rowspan="2" class="time_table_time_hour">16시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">F</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">9교시</td>
            <td rowspan="2" class="time_table_time_hour">17시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">G</td>
            <td rowspan="2" class="time_table_time_hour">10교시</td>
            <td rowspan="2" class="time_table_time_hour">18시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">11교시</td>
            <td rowspan="2" class="time_table_time_hour">19시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">H</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">12교시</td>
            <td rowspan="2" class="time_table_time_hour">20시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">I</td>
            <td rowspan="2" class="time_table_time_hour">13교시</td>
            <td rowspan="2" class="time_table_time_hour">21시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">14교시</td>
            <td rowspan="2" class="time_table_time_hour">22시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">J</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">15교시</td>
            <td rowspan="2" class="time_table_time_hour">23시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="time_table_class">
    <table id="plan_2">
        <thead>
        <tr class="time_table_week">
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr> </tbody>
    </table>
</div>
<p></p>