
<div class="table-title">
    <h3>강의 목록</h3>
</div>

<div id="lecture_list">
    <div class="search">
        <div class="dropdown" id="findDepartment">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                개설학과
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findMajor">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                개설전공
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findCategory">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                교과구분 (과목분류)
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findFirstDay">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                첫 수업 요일
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findFirstTime">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                첫 수업 시간
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findSecondDay">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                끝 수업 요일
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu6">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findSecondTime">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                끝 수업 시간
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu7">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
    </div>
    <table class="table-fill">
        <thead>
        <tr>
            <th class="code">수강번호</th>
            <th class="department">개설학부</th>
            <th class="major">개설전공</th>
            <th class="category">과목분류</th>
            <th class="title">과목명</th>
            <th class="enTitle">영문 과목명</th>
            <th class="abeek">공학인증</th>
            <th class="point">학점</th>
            <th class="time">시간</th>
            <th class="professor">교수명</th>
            <th class="timetable">강의 시간</th>
            <th class="enLecture">영어 강의</th>
            <th class="total">정원</th>
            <th class="leftSeat">여석</th>
            <th class="add">추가</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr *ngFor="let lecture of lectures">
            <td class="code">{{lecture.code}}</td>
            <td class="department">{{lecture.department}}</td>
            <td class="major">{{lecture.major}}</td>
            <td class="category">{{lecture.category}}</td>
            <td class="title">{{lecture.krTitle}}</td>
            <td class="enTitle">{{lecture.enTitle}}</td>
            <td class="abeek">{{lecture.abeek}}</td>
            <td class="point">{{lecture.point}}</td>
            <td class="time">{{lecture.time}}</td>
            <td class="professor">{{lecture.professor}}</td>
            <td class="timetable">{{lecture.timetable}}</td>
            <td class="enLecture">{{lecture.enLecture}}</td>
            <td class="total">{{lecture.total}}</td>
            <td class="leftSeat"></td>
            <td class="add"></td>
        </tr>
        </tbody>
    </table>
</div>