
<!---------------------------------------------- Time table start ----------------------------------------->
<div id="timetable_work_space">
<div class="plans">
    <ul class="pagination">
        <li><a href="#">Plan A</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan B</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan C</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan D</a></li>
    </ul>
    <ul class="pagination">
        <li><a href="#">Plan E</a></li>
    </ul>
</div>

<div class="time_table_time">
    <table id="plan_1">
        <thead>
        <tr>
            <th colspan="4">시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2" class="time_table_time_alphabet">Z</td>
            <td rowspan="2" class="time_table_time_hour">0교시</td>
            <td rowspan="2" class="time_table_time_hour">8시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">A</td>
            <td rowspan="2" class="time_table_time_hour">1교시</td>
            <td rowspan="2" class="time_table_time_hour">9시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">2교시</td>
            <td rowspan="2" class="time_table_time_hour">10시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">B</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">3교시</td>
            <td rowspan="2" class="time_table_time_hour">11시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">C</td>
            <td rowspan="2" class="time_table_time_hour">4교시</td>
            <td rowspan="2" class="time_table_time_hour">12시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">5교시</td>
            <td rowspan="2" class="time_table_time_hour">13시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">D</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">6교시</td>
            <td rowspan="2" class="time_table_time_hour">14시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">E</td>
            <td rowspan="2" class="time_table_time_hour">7교시</td>
            <td rowspan="2" class="time_table_time_hour">15시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">8교시</td>
            <td rowspan="2" class="time_table_time_hour">16시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">F</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">9교시</td>
            <td rowspan="2" class="time_table_time_hour">17시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">G</td>
            <td rowspan="2" class="time_table_time_hour">10교시</td>
            <td rowspan="2" class="time_table_time_hour">18시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">11교시</td>
            <td rowspan="2" class="time_table_time_hour">19시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">H</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">12교시</td>
            <td rowspan="2" class="time_table_time_hour">20시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">I</td>
            <td rowspan="2" class="time_table_time_hour">13교시</td>
            <td rowspan="2" class="time_table_time_hour">21시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">14교시</td>
            <td rowspan="2" class="time_table_time_hour">22시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="3" class="time_table_time_alphabet">J</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td rowspan="2" class="time_table_time_hour">15교시</td>
            <td rowspan="2" class="time_table_time_hour">23시</td>
            <td class="noshow"></td>
        </tr>
        <tr>
            <td class="noshow"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="time_table_class">
    <table id="plan_2">
        <thead>
        <tr class="time_table_week">
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr>
        <tr ng-repeat="times in workspace.plan_cells track by $index" class="ng-scope">
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td>
            <td ajt-preview-cell="" ng-init="cell.share={}; cell.share.value=0;"
                ng-repeat="cell in times track by $index" class="ng-scope"></td> </tr> </tbody>
    </table>
</div>
 </div>
<!---------------------------------------------- Time table end ----------------------------------------->
<!-----------------------------------------------  Cart start ------------------------------------------->
<table class="table-cart">
    <thead>
    <tr>
        <th class="code">수강번호</th>
        <th class="department">개설학부</th>
        <th class="category">과목분류</th>
        <th class="title">과목명</th>
        <th class="point">학점</th>
        <th class="time">시간</th>
        <th class="professor">교수명</th>
        <th class="timetable">강의 시간</th>
        <th class="total">정원</th>
    </tr>
    </thead>
    <tr *ngFor="let list of cart">
        <td class="code">{{list.code}}</td>
        <td class="department">{{list.department}}</td>
        <td class="category">{{list.category}}</td>
        <td class="title">{{list.krTitle}}</td>
        <td class="point">{{list.point}}</td>
        <td class="time">{{list.time}}</td>
        <td class="professor">{{list.professor}}</td>
        <td class="timetable">{{list.timetable}}</td>
        <td class="total">{{list.total}}</td>
    </tr>
</table>
<!-----------------------------------------------  Cart end ------------------------------------------->

<!------------------------------------------  Class list start ------------------------------------------->
<div class="table-title">
    <h3>강의 목록</h3>
</div>

<div id="lecture_list">
    <div class="search">
        <div class="dropdown" id="findDepartment">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                개설학과
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a>np</li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findMajor">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                개설전공
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findCategory">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                교과구분 (과목분류)
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findFirstDay">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                첫 수업 요일
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findFirstTime">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                첫 수업 시간
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findSecondDay">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                끝 수업 요일
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu6">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="dropdown" id="findSecondTime">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                끝 수업 시간
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu7">
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li><a href="#">temp</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">temp</a></li>
            </ul>
        </div>
        <div class="searchByTitle">
            <input class="form-control" [(ngModel)]="filterQuery"/>
        </div>
    </div>
    <table class="table-fill" [mfData]="lectures | dataFilter : filterQuery" #mf="mfDataTable">
        <thead>
        <tr>
            <th class="code">수강번호</th>
            <th class="department">개설학부</th>
            <th class="major">개설전공</th>
            <th class="category">과목분류</th>
            <th class="title">과목명</th>
            <th class="enTitle">영문 과목명</th>
            <th class="abeek">공학인증</th>
            <th class="point">학점</th>
            <th class="time">시간</th>
            <th class="professor">교수명</th>
            <th class="timetable">강의 시간</th>
            <th class="enLecture">영어 강의</th>
            <th class="total">정원</th>
            <th class="leftSeat">여석</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr *ngFor="let lecture of mf.data" (click)="addToCart(lecture)">
            <td class="code">{{lecture.code}}</td>
            <td class="department">{{lecture.department}}</td>
            <td class="major">{{lecture.major}}</td>
            <td class="category">{{lecture.category}}</td>
            <td class="title">{{lecture.krTitle}}</td>
            <td class="enTitle">{{lecture.enTitle}}</td>
            <td class="abeek">{{lecture.abeek}}</td>
            <td class="point">{{lecture.point}}</td>
            <td class="time">{{lecture.time}}</td>
            <td class="professor">{{lecture.professor}}</td>
            <td class="timetable">{{lecture.timetable}}</td>
            <td class="enLecture">{{lecture.enLecture}}</td>
            <td class="total">{{lecture.total}}</td>
            <td class="leftSeat"></td>
        </tr>
        </tbody>
    </table>
</div>
<!------------------------------------------  Class list end ------------------------------------------->
