
<!---------------------------------------------- Time table start ----------------------------------------->
<div class="user_info" *ngIf="DBinfo">
    안녕하세요! {{DBinfo.name}}님
    <a href="/logout" class="btn btn-primary" role="button">로그아웃</a>
</div>
<div id="timetable_work_space">
    <div class="plan">
        <div class="time_table_time">
            <table id="plan_1">
                <thead>
                <tr>
                    <th colspan="4">시간</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="2" class="time_table_time_alphabet">Z</td>
                    <td rowspan="2" class="time_table_time_hour">0교시</td>
                    <td rowspan="2" class="time_table_time_hour">8시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">A</td>
                    <td rowspan="2" class="time_table_time_hour">1교시</td>
                    <td rowspan="2" class="time_table_time_hour">9시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">2교시</td>
                    <td rowspan="2" class="time_table_time_hour">10시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">B</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">3교시</td>
                    <td rowspan="2" class="time_table_time_hour">11시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">C</td>
                    <td rowspan="2" class="time_table_time_hour">4교시</td>
                    <td rowspan="2" class="time_table_time_hour">12시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">5교시</td>
                    <td rowspan="2" class="time_table_time_hour">13시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">D</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">6교시</td>
                    <td rowspan="2" class="time_table_time_hour">14시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">E</td>
                    <td rowspan="2" class="time_table_time_hour">7교시</td>
                    <td rowspan="2" class="time_table_time_hour">15시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">8교시</td>
                    <td rowspan="2" class="time_table_time_hour">16시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">F</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">9교시</td>
                    <td rowspan="2" class="time_table_time_hour">17시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">G</td>
                    <td rowspan="2" class="time_table_time_hour">10교시</td>
                    <td rowspan="2" class="time_table_time_hour">18시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">11교시</td>
                    <td rowspan="2" class="time_table_time_hour">19시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">H</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">12교시</td>
                    <td rowspan="2" class="time_table_time_hour">20시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">I</td>
                    <td rowspan="2" class="time_table_time_hour">13교시</td>
                    <td rowspan="2" class="time_table_time_hour">21시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">14교시</td>
                    <td rowspan="2" class="time_table_time_hour">22시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="3" class="time_table_time_alphabet">J</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="time_table_time_hour">15교시</td>
                    <td rowspan="2" class="time_table_time_hour">23시</td>
                    <td class="noshow"></td>
                </tr>
                <tr>
                    <td class="noshow"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="time_table_class">
            <table id="plan_2">
                <thead>
                <tr class="time_table_week">
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[0][0]></td>
                    <td class="table-cell" [style.background-color]=table[0][1]></td>
                    <td class="table-cell" [style.background-color]=table[0][2]></td>
                    <td class="table-cell" [style.background-color]=table[0][3]></td>
                    <td class="table-cell" [style.background-color]=table[0][4]></td>
                    <td class="table-cell" [style.background-color]=table[0][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[1][0]></td>
                    <td class="table-cell" [style.background-color]=table[1][1]></td>
                    <td class="table-cell" [style.background-color]=table[1][2]></td>
                    <td class="table-cell" [style.background-color]=table[1][3]></td>
                    <td class="table-cell" [style.background-color]=table[1][4]></td>
                    <td class="table-cell" [style.background-color]=table[1][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[2][0]></td>
                    <td class="table-cell" [style.background-color]=table[2][1]></td>
                    <td class="table-cell" [style.background-color]=table[2][2]></td>
                    <td class="table-cell" [style.background-color]=table[2][3]></td>
                    <td class="table-cell" [style.background-color]=table[2][4]></td>
                    <td class="table-cell" [style.background-color]=table[2][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[3][0]></td>
                    <td class="table-cell" [style.background-color]=table[3][1]></td>
                    <td class="table-cell" [style.background-color]=table[3][2]></td>
                    <td class="table-cell" [style.background-color]=table[3][3]></td>
                    <td class="table-cell" [style.background-color]=table[3][4]></td>
                    <td class="table-cell" [style.background-color]=table[3][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[4][0]></td>
                    <td class="table-cell" [style.background-color]=table[4][1]></td>
                    <td class="table-cell" [style.background-color]=table[4][2]></td>
                    <td class="table-cell" [style.background-color]=table[4][3]></td>
                    <td class="table-cell" [style.background-color]=table[4][4]></td>
                    <td class="table-cell" [style.background-color]=table[4][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[5][0]></td>
                    <td class="table-cell" [style.background-color]=table[5][1]></td>
                    <td class="table-cell" [style.background-color]=table[5][2]></td>
                    <td class="table-cell" [style.background-color]=table[5][3]></td>
                    <td class="table-cell" [style.background-color]=table[5][4]></td>
                    <td class="table-cell" [style.background-color]=table[5][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[6][0]></td>
                    <td class="table-cell" [style.background-color]=table[6][1]></td>
                    <td class="table-cell" [style.background-color]=table[6][2]></td>
                    <td class="table-cell" [style.background-color]=table[6][3]></td>
                    <td class="table-cell" [style.background-color]=table[6][4]></td>
                    <td class="table-cell" [style.background-color]=table[6][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[7][0]></td>
                    <td class="table-cell" [style.background-color]=table[7][1]></td>
                    <td class="table-cell" [style.background-color]=table[7][2]></td>
                    <td class="table-cell" [style.background-color]=table[7][3]></td>
                    <td class="table-cell" [style.background-color]=table[7][4]></td>
                    <td class="table-cell" [style.background-color]=table[7][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[8][0]></td>
                    <td class="table-cell" [style.background-color]=table[8][1]></td>
                    <td class="table-cell" [style.background-color]=table[8][2]></td>
                    <td class="table-cell" [style.background-color]=table[8][3]></td>
                    <td class="table-cell" [style.background-color]=table[8][4]></td>
                    <td class="table-cell" [style.background-color]=table[8][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[9][0]></td>
                    <td class="table-cell" [style.background-color]=table[9][1]></td>
                    <td class="table-cell" [style.background-color]=table[9][2]></td>
                    <td class="table-cell" [style.background-color]=table[9][3]></td>
                    <td class="table-cell" [style.background-color]=table[9][4]></td>
                    <td class="table-cell" [style.background-color]=table[9][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[10][0]></td>
                    <td class="table-cell" [style.background-color]=table[10][1]></td>
                    <td class="table-cell" [style.background-color]=table[10][2]></td>
                    <td class="table-cell" [style.background-color]=table[10][3]></td>
                    <td class="table-cell" [style.background-color]=table[10][4]></td>
                    <td class="table-cell" [style.background-color]=table[10][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[11][0]></td>
                    <td class="table-cell" [style.background-color]=table[11][1]></td>
                    <td class="table-cell" [style.background-color]=table[11][2]></td>
                    <td class="table-cell" [style.background-color]=table[11][3]></td>
                    <td class="table-cell" [style.background-color]=table[11][4]></td>
                    <td class="table-cell" [style.background-color]=table[11][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[12][0]></td>
                    <td class="table-cell" [style.background-color]=table[12][1]></td>
                    <td class="table-cell" [style.background-color]=table[12][2]></td>
                    <td class="table-cell" [style.background-color]=table[12][3]></td>
                    <td class="table-cell" [style.background-color]=table[12][4]></td>
                    <td class="table-cell" [style.background-color]=table[12][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[13][0]></td>
                    <td class="table-cell" [style.background-color]=table[13][1]></td>
                    <td class="table-cell" [style.background-color]=table[13][2]></td>
                    <td class="table-cell" [style.background-color]=table[13][3]></td>
                    <td class="table-cell" [style.background-color]=table[13][4]></td>
                    <td class="table-cell" [style.background-color]=table[13][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[14][0]></td>
                    <td class="table-cell" [style.background-color]=table[14][1]></td>
                    <td class="table-cell" [style.background-color]=table[14][2]></td>
                    <td class="table-cell" [style.background-color]=table[14][3]></td>
                    <td class="table-cell" [style.background-color]=table[14][4]></td>
                    <td class="table-cell" [style.background-color]=table[14][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[15][0]></td>
                    <td class="table-cell" [style.background-color]=table[15][1]></td>
                    <td class="table-cell" [style.background-color]=table[15][2]></td>
                    <td class="table-cell" [style.background-color]=table[15][3]></td>
                    <td class="table-cell" [style.background-color]=table[15][4]></td>
                    <td class="table-cell" [style.background-color]=table[15][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[16][0]></td>
                    <td class="table-cell" [style.background-color]=table[16][1]></td>
                    <td class="table-cell" [style.background-color]=table[16][2]></td>
                    <td class="table-cell" [style.background-color]=table[16][3]></td>
                    <td class="table-cell" [style.background-color]=table[16][4]></td>
                    <td class="table-cell" [style.background-color]=table[16][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[17][0]></td>
                    <td class="table-cell" [style.background-color]=table[17][1]></td>
                    <td class="table-cell" [style.background-color]=table[17][2]></td>
                    <td class="table-cell" [style.background-color]=table[17][3]></td>
                    <td class="table-cell" [style.background-color]=table[17][4]></td>
                    <td class="table-cell" [style.background-color]=table[17][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[18][0]></td>
                    <td class="table-cell" [style.background-color]=table[18][1]></td>
                    <td class="table-cell" [style.background-color]=table[18][2]></td>
                    <td class="table-cell" [style.background-color]=table[18][3]></td>
                    <td class="table-cell" [style.background-color]=table[18][4]></td>
                    <td class="table-cell" [style.background-color]=table[18][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[19][0]></td>
                    <td class="table-cell" [style.background-color]=table[19][1]></td>
                    <td class="table-cell" [style.background-color]=table[19][2]></td>
                    <td class="table-cell" [style.background-color]=table[19][3]></td>
                    <td class="table-cell" [style.background-color]=table[19][4]></td>
                    <td class="table-cell" [style.background-color]=table[19][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[20][0]></td>
                    <td class="table-cell" [style.background-color]=table[20][1]></td>
                    <td class="table-cell" [style.background-color]=table[20][2]></td>
                    <td class="table-cell" [style.background-color]=table[20][3]></td>
                    <td class="table-cell" [style.background-color]=table[20][4]></td>
                    <td class="table-cell" [style.background-color]=table[20][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[21][0]></td>
                    <td class="table-cell" [style.background-color]=table[21][1]></td>
                    <td class="table-cell" [style.background-color]=table[21][2]></td>
                    <td class="table-cell" [style.background-color]=table[21][3]></td>
                    <td class="table-cell" [style.background-color]=table[21][4]></td>
                    <td class="table-cell" [style.background-color]=table[21][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[22][0]></td>
                    <td class="table-cell" [style.background-color]=table[22][1]></td>
                    <td class="table-cell" [style.background-color]=table[22][2]></td>
                    <td class="table-cell" [style.background-color]=table[22][3]></td>
                    <td class="table-cell" [style.background-color]=table[22][4]></td>
                    <td class="table-cell" [style.background-color]=table[22][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[23][0]></td>
                    <td class="table-cell" [style.background-color]=table[23][1]></td>
                    <td class="table-cell" [style.background-color]=table[23][2]></td>
                    <td class="table-cell" [style.background-color]=table[23][3]></td>
                    <td class="table-cell" [style.background-color]=table[23][4]></td>
                    <td class="table-cell" [style.background-color]=table[23][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[24][0]></td>
                    <td class="table-cell" [style.background-color]=table[24][1]></td>
                    <td class="table-cell" [style.background-color]=table[24][2]></td>
                    <td class="table-cell" [style.background-color]=table[24][3]></td>
                    <td class="table-cell" [style.background-color]=table[24][4]></td>
                    <td class="table-cell" [style.background-color]=table[24][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[25][0]></td>
                    <td class="table-cell" [style.background-color]=table[25][1]></td>
                    <td class="table-cell" [style.background-color]=table[25][2]></td>
                    <td class="table-cell" [style.background-color]=table[25][3]></td>
                    <td class="table-cell" [style.background-color]=table[25][4]></td>
                    <td class="table-cell" [style.background-color]=table[25][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[26][0]></td>
                    <td class="table-cell" [style.background-color]=table[26][1]></td>
                    <td class="table-cell" [style.background-color]=table[26][2]></td>
                    <td class="table-cell" [style.background-color]=table[26][3]></td>
                    <td class="table-cell" [style.background-color]=table[26][4]></td>
                    <td class="table-cell" [style.background-color]=table[26][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[27][0]></td>
                    <td class="table-cell" [style.background-color]=table[27][1]></td>
                    <td class="table-cell" [style.background-color]=table[27][2]></td>
                    <td class="table-cell" [style.background-color]=table[27][3]></td>
                    <td class="table-cell" [style.background-color]=table[27][4]></td>
                    <td class="table-cell" [style.background-color]=table[27][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[28][0]></td>
                    <td class="table-cell" [style.background-color]=table[28][1]></td>
                    <td class="table-cell" [style.background-color]=table[28][2]></td>
                    <td class="table-cell" [style.background-color]=table[28][3]></td>
                    <td class="table-cell" [style.background-color]=table[28][4]></td>
                    <td class="table-cell" [style.background-color]=table[28][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[29][0]></td>
                    <td class="table-cell" [style.background-color]=table[29][1]></td>
                    <td class="table-cell" [style.background-color]=table[29][2]></td>
                    <td class="table-cell" [style.background-color]=table[29][3]></td>
                    <td class="table-cell" [style.background-color]=table[29][4]></td>
                    <td class="table-cell" [style.background-color]=table[29][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[30][0]></td>
                    <td class="table-cell" [style.background-color]=table[30][1]></td>
                    <td class="table-cell" [style.background-color]=table[30][2]></td>
                    <td class="table-cell" [style.background-color]=table[30][3]></td>
                    <td class="table-cell" [style.background-color]=table[30][4]></td>
                    <td class="table-cell" [style.background-color]=table[30][5]></td>
                </tr>
                <tr class="table-cell">
                    <td class="table-cell" [style.background-color]=table[31][0]></td>
                    <td class="table-cell" [style.background-color]=table[31][1]></td>
                    <td class="table-cell" [style.background-color]=table[31][2]></td>
                    <td class="table-cell" [style.background-color]=table[31][3]></td>
                    <td class="table-cell" [style.background-color]=table[31][4]></td>
                    <td class="table-cell" [style.background-color]=table[31][5]></td>
                </tr></tbody>
            </table>
        </div>
    </div>
    <!---------------------------------------------- Time table end ----------------------------------------->
    <!-----------------------------------------------  Cart start ------------------------------------------->
    <div class="cart">
        <h1>총 학점 : {{total_point}} / 22</h1>
        <h1>총 시간 : {{total_time}}</h1>
        <div class="plans">
            <ul class="pagination">
                <li><a href="#" (click)="otherPlan(0)">Plan A</a></li>
            </ul>
            <ul class="pagination">
                <li><a href="#" (click)="otherPlan(1)">Plan B</a></li>
            </ul>
            <ul class="pagination">
                <li><a href="#" (click)="otherPlan(2)">Plan C</a></li>
            </ul>
            <ul class="pagination">
                <li><a href="#" (click)="otherPlan(3)">Plan D</a></li>
            </ul>
            <ul class="pagination">
                <li><a href="#" (click)="otherPlan(4)">Plan E</a></li>
            </ul>
            <ul class="pagination">
                <li><a (click)="saveCart()">저장하기</a></li>
            </ul>
        </div>
        <table class="table-cart">
            <thead>
            <tr>
                <th class="code">수강번호</th>
                <th class="department">개설학부</th>
                <th class="category">과목분류</th>
                <th class="title">과목명</th>
                <th class="point">학점</th>
                <th class="time">시간</th>
                <th class="professor">교수명</th>
                <th class="timetable">강의 시간</th>
                <th class="total">정원</th>
            </tr>
            </thead>
            <tr *ngFor="let list of view_cart" (click)="deleteCart(list)">
                <td class="code">{{list.code}}</td>
                <td class="department">{{list.department}}</td>
                <td class="category">{{list.category}}</td>
                <td class="title">{{list.krTitle}}</td>
                <td class="point">{{list.point}}</td>
                <td class="time">{{list.time}}</td>
                <td class="professor">{{list.professor}}</td>
                <td class="timetable">{{list.timetable}}</td>
                <td class="total">{{list.total}}</td>
            </tr>
        </table>
    </div>
</div>

<!-----------------------------------------------  Cart end ------------------------------------------->

<!------------------------------------------  Class list start ------------------------------------------->
<div class="table-title">
    <h3>강의 목록</h3>
</div>

<div id="lecture_list">
    <div class="search">
        <div class="select">
            <select [(ngModel)]="selectedDepart" class='form-control' (change)="setListNumInit()">
                <option ngValue="개설학과">개설학과</option>
                <option *ngFor="let list of departList" [value]="list.department">{{list.department}}</option>
            </select>
            <select [(ngModel)]="selectedMajor" class='form-control' (change)="setListNumInit()">
                <option ngValue="개설전공">개설전공</option>
                <option *ngFor="let list of majorList" [value]="list.major">{{list.major}}</option>
            </select>
            <select [(ngModel)]="selectedCategory" class='form-control' (change)="setListNumInit()">
                <option ngValue="교과구분(과목분류)">교과구분(과목분류)</option>
                <option ngValue="전공과목">전공과목</option>
                <option ngValue="기초과목">기초과목</option>
                <option ngValue="교양과목">교양과목</option>
                <option ngValue="영역별과목">영역별교양</option>
            </select>
            <select [(ngModel)]="selectedDate" class='form-control' (change)="setListNumInit()">
                <option ngValue="요일">요일</option>
                <option ngValue="월">월</option>
                <option ngValue="화">화</option>
                <option ngValue="수">수</option>
                <option ngValue="목">목</option>
                <option ngValue="금">금</option>
            </select>
            <select [(ngModel)]="selectedTime" class='form-control' (change)="setListNumInit()">
                <option ngValue="시간">시간</option>
                <option ngValue="A">A</option>
                <option ngValue="B">B</option>
                <option ngValue="C">C</option>
                <option ngValue="D">D</option>
                <option ngValue="E">E</option>
                <option ngValue="F">F</option>
            </select>
        </div>
        <div class="searchByTitle">
            <input class="form-control" [(ngModel)]="queryTitle" (change)="setListNumInit()"/>
        </div>
    </div>
    <table class="table-fill" [mfData]="lectures | titleFilter : queryTitle | departFilter : selectedDepart | majorFilter : selectedMajor | categoryFilter : selectedCategory | timeFilter : makeTimeQuery()" #mf="mfDataTable" >
        <thead>
        <tr>
            <th class="code">수강번호</th>
            <th class="department">개설학부</th>
            <th class="major">개설전공</th>
            <th class="category">과목분류</th>
            <th class="title">과목명</th>
            <th class="enTitle">영문 과목명</th>
            <th class="abeek">공학인증</th>
            <th class="point">학점</th>
            <th class="time">시간</th>
            <th class="professor">교수명</th>
            <th class="timetable">강의 시간</th>
            <th class="enLecture">영어 강의</th>
            <th class="total">정원</th>
            <th class="leftSeat">여석</th>
        </tr>
        </thead>
        <tbody class="table-hover" (scroll)="onScrollDown()">
        <tr *ngFor="let lecture of mf.data| slice:0:listNum" (click)="addToCart(lecture,0)">
            <td class="code">{{lecture.code}}</td>
            <td class="department">{{lecture.department}}</td>
            <td class="major">{{lecture.major}}</td>
            <td class="category">{{lecture.category}}</td>
            <td class="title">{{lecture.krTitle}}</td>
            <td class="enTitle">{{lecture.enTitle}}</td>
            <td class="abeek">{{lecture.abeek}}</td>
            <td class="point">{{lecture.point}}</td>
            <td class="time">{{lecture.time}}</td>
            <td class="professor">{{lecture.professor}}</td>
            <td class="timetable">{{lecture.timetable}}</td>
            <td class="enLecture">{{lecture.enLecture}}</td>
            <td class="total">{{lecture.total}}</td>
            <td class="leftSeat"></td>
        </tr>
        </tbody>
    </table>
</div>
<!------------------------------------------  Class list end ------------------------------------------->
